.app-modal .modal-title {
  color: gray;
  font-size: 1.25rem;
  font-weight: 600;
}

.app-modal .modal-body {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  padding-bottom: 0.25rem;
}

.app-modal .modal-footer {
  padding: 0.75rem 1rem;
  border-top: 1px solid #dee2e6;
  gap: 0.5rem;
}

.app-modal-footer.app-modal-footer-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-modal-footer-actions {
  display: flex;
  gap: 0.5rem;
}

.app-modal-footer.app-modal-footer-end {
  display: flex;
  justify-content: flex-end;
}