.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin: 20px auto;
  position: relative;
  border: 3px solid lightblue;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
  box-shadow: 0 2px 8px rgba(173, 216, 230, 0.4)
}

.loader::after {
  content: '';
  box-sizing: border-box;
  width: 6px;
  height: 24px;
  background: lightblue;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 46px;
}

@keyframes animloader {
  0% {
    transform: translate(-10px, -10px);
  }

  25% {
    transform: translate(-10px, 10px);
  }

  50% {
    transform: translate(10px, 10px);
  }

  75% {
    transform: translate(10px, -10px);
  }

  100% {
    transform: translate(-10px, -10px);
  }
}